nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  gap: 32px;
  display: flex;
  list-style: none;
}
.nav-items:hover:after {
  width: 100%;
}
.nav-items {
  transition: 0.5s;
  line-height: 120%;
  font-family: var(--font);
  color: var(--c-text);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.active {
  border-bottom: 2px solid var(--c-select);
}
.nav-items:after {
  transition: all ease-in-out 0.3s;
  background: none repeat scroll 0 0 var(--c-select);
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
a {
  text-decoration: none;
}
#shop-container {
  padding: 10px;
  width: 200px;
  height: 22px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.dollar-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.emptyCart {
  cursor: pointer;
}
