nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  gap: 32px;
  display: flex;
  list-style: none;
}
.nav-items:hover:after {
  width: 100%;
}
.nav-items.active:after {
  transition: none;
  display: none; /* Desativa a transição */
}
.nav-items {
  transition: 0.5s;
  line-height: 120%;
  font-family: var(--font);
  color: var(--c-text);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
}
.active {
  transition: none;
  border-bottom: 3px solid var(--c-select);
}
.nav-items:after {
  transition: all ease-in-out 0.3s;
  background: none repeat scroll 0 0 var(--c-select);
  content: "";
  display: block;
  height: 2px;
  width: 0;
}
a {
  text-decoration: none;
}
#shop-container {
  padding: 10px;
  width: 200px;
  height: 22px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.dollar-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.emptyCart {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
}

#numberItems {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: #222;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  font-family: var(--font);
  font-weight: 700;
}

.emptyCart img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
