/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --font: "Raleway", sans-serif;
  --c-text: #1d1f22;
  --c-select: #5ece7b;
}
